.inputGroup {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 10px;
}

.inputGroup label {
    margin-bottom: 5px;
}

.inputGroup input {
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid grey;
    outline: none;
}

.btn button {
    background-color: orange;
    color: #fff;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    margin-top: 10px;
}

.qmk a {
    text-decoration: none;
}