.courseFavourite {
    width: 100%;
}
.courseFavourite th:nth-child(1){
    width: 55%;
}
.courseFavourite th:nth-child(2){
    width: 15%;
}
.courseFavourite th:nth-child(3){
    width: 15%;
}
.courseFavourite th:nth-child(4){
    width: 15%;
}
.courseFavourite td img{
    width: 60px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
}
.courseFavourite td span{
    margin-left: 10px;
}
.courseFavourite td button {
    border: none;
    border-radius: 10px;
    background-color: orange;
    padding: 7px 20px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}