.signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}


.boxSignUp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 600px !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.boxImage {
    width: 50%;
    height: 100%;
}

.boxImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boxAction {
    width: 50%;
    background-color: #fff(203, 153, 153);
    padding: 0px 50px;
}

.entryarea {
    position: relative;
    height: 20px;
    line-height: 20px;
}

.entryarea input {
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 20px;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #baafaf;
    transition: 0.2s ease;
    z-index: 111;
}

.lableLine {
    position: absolute;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    font-size: 18px;
    color: #333;
    padding: 13px 10px;
    margin: 0 20px;
    background-color: #fff;
    transition: 0.2s ease;
}

.entryarea input:focus {
    /* color: #008bdd; */
    border: 1px solid #008bdd;
}

.entryarea input:focus+.lableLine,
.entryarea input:valid+.lableLine {
    color: #008bdd;
    height: 30px;
    line-height: 30px;
    transform: translate(-15px, -15px) scale(0.88);
    z-index: 111;
    padding: 0 10px;
}

.mt60 {
    margin-top: 45px;
}

.boxAction h1 {
    text-align: center;
    font-size: 30px;
    margin: 20px 0px 20px 0px;
}

.btnSignup button {
    background: none;
    border: none;
    width: 100%;
    background-color: #008bdd;
    color: #fff;
    border-radius: 10px;
    padding: 10px 0px;
    margin-top: 20px;
    font-size: 20px;
}
.signInHere{
    text-align: center;
    margin: 0;
    margin-top: 10px;
}
.signInHere a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 14px;
}