.nav {
    height: 50px;
    background-color: #008bdd;
}

.boxShow {
    position: relative;
    display: inline;
}

.boxDanhMuc {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00a6f1;
    margin: 0;
    height: 50px;
    cursor: pointer;
}

.boxDanhMuc a {
    text-decoration: none;
    color: #fff;
}

.boxDanhMuc span {
    margin: 0px 20px 0px 30px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.boxDanhMuc svg {
    color: #fff;
    font-size: 24px;
}

.boxShow:hover .listCategories {
    display: block;
    /* transform: translateX(-5px); */
    transition: 0.3s linear;
    z-index: 999999;
}


.listCategories {
    position: absolute;
    top: 30px;
    display: none;
    list-style: none;
    border-left: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    padding-right: 30px;
    background-color: white;
    width: 100%;
    z-index: 999999;
    padding: 0;
    padding-top: 5px;
    margin: 0px 4px;
}

.listCategories li {
    padding: 5px 30px;
    /* border-bottom: 1px solid grey; */
}


.listCategories a {
    text-decoration: none;
    color: #333;
}

.listCategories li:hover {
    color: #0d6fa7;
    /* transition: 0.2s linear; */
}

.colorNone {
    border: 2px solid #fff;
    margin: 0;
}

.editHr {
    margin: 0;
    margin-top: 10px;
}

/* menu nav */
.menuNav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 50px;
}

.menuNav li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.inputNapTien input {
    width: 100%;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #c1c1c1;
}

.showTien {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

.showTien p {
    margin: 0;
}

.moneyLeft,
.moneyRight {
    font-size: 18px;
}

.moneyLeft span,
.moneyRight span {
    font-size: 24px;
    font-weight: 600;
}

.moneyLeft span {
    color: red;
}

.moneyRight span {
    color: blue;
}